@charset "utf-8";
/* CSS Document */
*{
	box-sizing: border-box;
}

	#container{
	width: 800px;
	margin: 0 auto;
}
@media only screen and (min-width: 800px){
	flex-container{
		display:flex;
	}
body{
	background: linear-gradient(to bottom, rgba(242,109,67,1), rgba(242,109,67,.5));
}
ul{
	list-style-type: none;
	width: 200px;
	height: 590px;	
	float: left;
	background-color:#3DF2E0;
	border-radius: 20px;
	padding: 15px 15px 0px 15px;
	margin: 10px 20px 0px 0px;
	}
li a{
	display: block;
    padding: 8px 16px;
    text-decoration: none;
}
li a:link{
	color:#BF785E;
	font-size: 1.4em;
	text-decoration: none;
}
li a:visited{
	color: #F26D3D;
	font-size: 1.4em;
	text-decoration: none;
}
li a:hover{
	color:#4C5456;
	font-size: 1.4em;
	text-decoration: underline;
}
li a:active{
	color:white;
	font-size: 1.4em;
	text-decoration: none;
}
.top{
	flex-grow:1;
	width: 550px;
	height: auto;
	background-color: #3DF2E0;
	border-top-left-radius:  20px;
	border-top-right-radius: 20px;
	margin: 10px 0px 0px 0px;
	padding: 5px 15px 5px 15px;
	font-size: .95em;
	float: right;
	color:#BF785E;
}
.center{
	flex-grow: 1;
	width: 550px;
	height: auto;
	background-color: #3DF2E0;
	padding: 5px 15px 5px 15px;
    font-size:.95em;
	float: right;
	color:#BF785E;
}
.bottom{
	flex-grow: 1;
	width: 550px;
	height: auto;
	background-color: #3DF2E0;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	margin: 0px 0px 10px 0px;
	padding: 5px 15px 5px 15px;
    font-size:.95em;
	float: right;
	color:#BF785E;
}
.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}
.img1{
  margin-left: 215px;  
}
	.logo2{
	width: 50px;
  	height: 70px;
	float: right;
	}
	.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.logo1{
  width: 50px;
  height: 70px;
  float:left;
}
	h1{
	color:#4C5456;
	text-align:center;
}
article >h2{
	text-align: center;
	color:#BF785E;
}
footer{
	color:#4C5456;
	clear:both;
}
}
@media only screen and (max-widith: 799px){
	.flex-container{
		display:flex;
		flex-direction: column;
	}
	}
@media only screen and (max-width:799px) and (orientation: portrait){
	
}