@charset "utf-8";
/* CSS Document */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
	background-color:#F26D3D;
}
#container{
	width: 800px;
	margin:0 auto;
}

@media only screen and (min-width: 800px){
	.flex-container {
  display: flex;
}
nav{
	width: auto;
	height: auto;	
	background-color:#3DF2E0;
	border-radius: 20px;
	padding: 15px 15px 15px 15px;
	margin: 10px 20px 15px 20px;
	text-align: center;
		display: flex;
  justify-content: center;
  gap: 20px;
	}
nav a:link{
	color:#BF785E;
	font-size: 1.4em;
	text-decoration: none;
	margin-right: 10px;
}
nav a:visited{
	color: #F26D3D;
	font-size: 1.4em;
	text-decoration: none;
}
nav a:hover{
	color:#4C5456;
	font-size: 1.4em;
	text-decoration: underline;
}
nav a:active{
	color:white;
	font-size: 1.4em;
	text-decoration: none;
}
header >h1{
    text-align: center; 
	color:#4C5456;
}
h4{
	text-align: center;
	padding: 15px 15px 15px 15px;
	color:#4C5456;
}
	.right{
	flex-grow:1;
	width: 560px;
	height: auto;
	background-color: #3DF2E0;
	border-radius: 20px;
	margin: 10px 15px 0px 15px;
	padding: 15px 15px 15px 50px;
		align-content: center;
	}
	.left{
		flex-grow: 1;
		width:200px;
		height:400px;
		margin: 10px 15px 10px 15px;
	}
	img{
		margin-right:10px;
		margin-left: 10px;
	}
	.delius-regular {
  font-family: 'Delius', cursive;
}
	.ui-tabs .ui-tabs-nav li a {
  font-family: 'Delius', cursive;
  font-size: 1.1em;
  padding: 0.5em 1em;
  color: #BF785E;
}

.ui-tabs .ui-tabs-panel {
  background-color: #60A69F;
  padding: 1em;
  border-radius: 20px;
	margin-left: 20px;
	margin-right: 20px;
}
footer{
	font-family: 'Delius', cursive;
	color:#4C5456;
	clear:both;
}
}
@media (max-width: 799px) {
  .flex-container {
    display: flex;
	  flex-direction: column;
	}
}