@charset "utf-8";
/* CSS Document */
*{
	box-sizing: border-box;
}

	#container{
	width: 800px;
	margin: 0 auto;
}
@media only screen and (min-width: 800px){
	flex-container{
		display:flex;
	}
body{
	background-color: #F26D3D;
}
nav{
	width: 800px;
	height: auto;	
	background-color:#3DF2E0;
	border-radius: 20px;
	padding: 15px 15px 15px 15px;
	margin: 10px 20px 15px 0px;
	text-align: center;
		display: flex;
  justify-content: center;
  gap: 20px;
	}
nav a:link{
	color:#BF785E;
	font-size: 1.4em;
	text-decoration: none;
	margin-right: 10px;
}
nav a:visited{
	color: #F26D3D;
	font-size: 1.4em;
	text-decoration: none;
}
nav a:hover{
	color:#4C5456;
	font-size: 1.4em;
	text-decoration: underline;
}
nav a:active{
	color:white;
	font-size: 1.4em;
	text-decoration: none;
}
.left{
	float: left;
  padding: 15px 15px 15px 15px;
	background-color: #3DF2E0;
	border-radius: 20px;
	flex-grow:1;
	width: 200px;
	height: 620px;
	font-size: .95em;
	margin-top: 10px;
	color: #BF785E;
}
.top{
	flex-grow:1;
	width: 580px;
	height: 200px;
	background-color: #3DF2E0;
	border-radius: 20px;
	margin: 10px 0px 10px 0px;
	padding: 15px 15px 15px 15px;
	font-size: .95em;
	float: right;
	color:#BF785E;
}
.center{
	flex-grow: 1;
	width: 580px;
	height: 200px;
	background-color: #3DF2E0;
	border-radius: 20px;
	margin: 0px 0px 10px 0px;
	padding: 15px 15px 15px 15px;
    font-size:.95em;
	float: right;
	color:#BF785E;
}
.bottom{
	flex-grow: 1;
	width: 580px;
	height: 200px;
	background-color: #3DF2E0;
	border-radius: 20px;
	margin: 0px 0px 10px 0px;
	padding: 15px 15px 15px 15px;
    font-size:.95em;
	float: right;
	color:#BF785E;
}
.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}
img{
  float:left;
  margin-right: 20px;  
}
	.logo2{
	width: 50px;
  	height: 70px;
	float: right;
	}
	.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.logo1 {
  width: 50px;
  height: 70px;
  float:left;
}
header>h1{
    text-align: center; 
	color:#4C5456;
}
section>h1{
    text-align: center; 
	color:#4C5456;
}
section>p{
	text-align: center; 
	color:aliceblue;
}
article >h2{
	text-align: center;
	color:#BF785E;
}
article >p{
	margin-left: 20px;
}
footer{
	color:#4C5456;
	clear:both;
}
ol li{
	border-radius: 20px;
	font-size:.95em;
	color: #BF785E;
	margin-left: 30px;
}
ol{
	background-color:#3DF2E0;
	border-radius: 20px;
	color: #BF785E;
	flex-grow: 1;
	height: 200px;
	padding: 10px 10px 10px 10px;
	float: left;
}
h4{
	text-align: center;
}
ul{
	background-color:#3DF2E0;
	border-radius: 20px;
	color: #BF785E;
	flex-grow: 1;
	height: 200px;
	padding: 10px 10px 10px 10px;
	float: right;
}
ul li{
	border-radius: 20px;
	font-size:.95em;
	color:#BF785E;
	margin-left: 30px;
}
h3{
	margin-left: 240px;
}
#div1{
  width: 150px;
	height:160px;
  margin: 25px 10px 10px 10px;
  padding: 10px;
  border: 1px solid #BF785E;
	border-radius: 20px;
}
#div2{
	width: 150px;
	height:160px;
  margin: 25px 10px 10px 10px;
  padding: 10px;
  border: 1px solid #BF785E;
	border-radius: 20px;
	
}

}
@media only screen and (max-widith: 799px){
	.flex-container{
		display:flex;
		flex-direction: column;
	}
	}
@media only screen and (max-width:799px) and (orientation: portrait){
	
}