@charset "utf-8";
/* CSS Document */
*{
	box-sizing: border-box;
}
body{
	background: linear-gradient(to bottom, rgba(242,109,67,1), rgba(242,109,67,.5));
}
#container{
	width: 800px;
	margin: 0 auto;
}
@media only screen and (min-width: 800px){
	flex-container{
		display:flex;
	}
.nav-qt >ul{
	list-style-type: none;
	width: 180px;
	height: 415px;	
	float: left;
	background-color:#3DF2E0;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding: 15px 15px 0px 15px;
	margin: 10px 0px 0px 0px;
	}
nav > ul >li a{
	display: block;
    padding: 8px 16px;
    text-decoration: none;
}
nav > ul >li a:link{
	color:#BF785E;
	font-size: 1.4em;
	text-decoration: none;
}
nav > ul >li a:visited{
	color: #F26D3D;
	font-size: 1.4em;
	text-decoration: none;
}
nav > ul >li a:hover{
	color:#4C5456;
	font-size: 1.4em;
	text-decoration: underline;
}
nav > ul >li a:active{
	color:white;
	font-size: 1.4em;
	text-decoration: none;
}
.top-qt{
	width: 600px;
	height: 200px;
	background-color: #3DF2E0;
	border-radius: 20px;
	margin: 10px 0px 15px 0px;
	padding: 15px 15px 15px 15px;
	float: right;
	font-size: .95em;
	color: #BF785E;
	flex-grow:1;
}
.bottom-qt{
	width: 600px;
	height: 200px;
	background-color:#3DF2E0;
	border-radius: 20px;
	margin: 0px 0px 15px 0px;
	padding: 15px 15px 15px 15px;
	float: right;
    font-size:.95em;
	color:#BF785E;
	flex-grow:1;
}
.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}
.img-qt{
  float:left;
  margin-right: 20px;  
}
.logo2{
	width: 50px;
  	height: 70px;
	float: right;
	}
	.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.logo1 {
  width: 50px;
  height: 70px;
  float:left;
}
header >h1{

    text-align: center; color:#4C5456;
}
.top-qt >h2{
	text-align: center;
	color:#BF785E;
}
.bottom-qt >h2{
	text-align: center;
	color:#BF785E;
	}
.top-qt >p{
	margin-left: 20px;
	 color:#BF785E;
}
.bottom-qt >p{
	margin-left: 20px;
	 color:#BF785E;	
}
footer{
	color:#4C5456;
	clear:both;
}
.qt-table{
	margin-left: 80px;
	flex-grow:1;
	text-align: center;
	border: 5px solid #3DF2E0;
	padding: 10px 10px 10px 10px;
	border-radius: 20px;
	font-size:.95em;
	color: #BF785E;
}
.qt-table th, .qt-table td{
	background-color: #3DF2E0;
	text-align: center;
	border: 5px solid #3DF2E0;
	padding: 10px 10px 10px 10px;
	border-radius: 20px;
	font-size:.95em;
	color: #BF785E;
}
.qt-table >th{
	text-decoration: underline;
	font-size: 1.2em;
	}
.qt-table >caption{
	text-align: center;
	border: 5px solid #3DF2E0;
	padding: 10px 10px 10px 10px;
	border-radius: 20px;
	font-size:1.2em;
	background-color: #3DF2E0;
	margin-bottom: 10px;
	color:#BF785E;
}
.ol-qt li{
	border-radius: 20px;
	font-size:.95em;
	color: #BF785E;
	margin-left: 30px;
}
.ol-qt{
	background-color:#3DF2E0;
	border-radius: 20px;
	color: #BF785E;
	width: 320px;
	height: 200px;
	padding: 10px 10px 10px 10px;
	float: left;
		flex-grow:1;
}
.ul-qt >h4{
	text-align: center;
	color:#BF785E;
	text-decoration: underline;
}
.ol-qt >h4{
	text-align: center;
	color:#BF785E;
	text-decoration: underline;
	}
.ul-qt{
	background-color:#3DF2E0;
	border-radius: 20px;
	color:#BF785E;
	width: 320px;
	height: 200px;
	padding: 10px 10px 10px 10px;
	float: right;
	flex-grow:1;
}
.ul-qt >li{
	border-radius: 20px;
	font-size:.95em;
	color:#BF785E;
	margin-left: 30px;
}
.qt-h3{
	margin-left: 240px;
	color: #4C5456;
}
iframe{
	flex-grow:1;
}
#demo{
	color: #BF785E;
	margin-top: 250px;
	text-align: center;
}
}
	@media only screen and (max-width: 799px){
	.flex-container{
		display:flex;
		flex-direction: column;
	}
}
		@media only screen and (max-width:799px) and (orientation: portrait){
			
}